.message-container {
  background: #e3dfd2;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  border-radius: 20px;

  i{
    padding-top: 5px;
    font-size: 1rem;
    color: rgb(195 33 148);
    padding-left: 0;
  }
}
.letexte{
  padding-inline: 5px;
}
#delete{
  font-size: 1.5rem;
  background: #ccccc1;
  margin: 10px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
